.img-gallery{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    
}


.txt-gallery{
    margin-left: 20px;

    margin-bottom: 10px;    
}

.txt-gallery-headline{
    margin-left: 20px;

    margin-bottom: 20px;    
}

.img-overlay{
	background-image: url(../img/overlay.png);
    color: white;
}

.lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}

.lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
}

.lightboxCaption{ 
    float: left; 
}

.keyboardMsg{ 
    float: right; 
}

.lightbox img{ 
    border: none; 
} 

.overlay img{ 
    border: none; 
}

.mykarusell{
    margin-bottom: 30px;
}

.mycontainer{
    padding-top: 70px
}
    
/*!Code Snipp made by Siraj from https://bootsnipp.com/snippets/9nVj*/
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
        display: block;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
}

